---
page_title: "Restful Provider"
subcategory: ""
description: |-
  The restful provider provides resource and data source to interact with a platform that exposes a restful API.
---

# Restful Provider

The restful provider provides resource and data source to interact with a platform that exposes a restful API.

## Example Usage

{{tffile "examples/resources/restful_resource/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
